.head {
  text-align: center;
}
.react-flow__controls-button {
  display: inline !important;
}

.dndflow {
  flex-direction: column;
  display: flex;
  height: 900px;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside>* {
  margin-bottom: 10px;
  cursor: grab;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.react-flow__node-horizontal,
.react-flow__node-horizontal-input,
.react-flow__node-horizontal-output,
.react-flow__node-full,
.react-flow__node-horizontal-clear-panel {
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  color: #222;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  width: 150px;
  min-height: 40px;
}


.react-flow__node-horizontal {
  background: #fff;
  border-color: #00e1ff;
}

.react-flow__node-horizontal.selected, .react-flow__node-horizontal.selected:hover {
  box-shadow: 0 0 0 0.5px #00e1ff;
}

.react-flow__node-horizontal-input {
  background: #fff;
  border-color: #6b6d6d;
}

.react-flow__node-horizontal-input.selected, .react-flow__node-horizontal-input.selected:hover {
  box-shadow: 0 0 0 0.5px #6b6d6d;
}

.react-flow__node-horizontal-output {
  background: #fff;
  border-color: #bdd343;
}

.react-flow__node-horizontal-clear-panel {
  background: rgb(224, 139, 139);
  border-color: rgb(224, 139, 139);
}

.react-flow__node-horizontal-output, .react-flow__node-horizontal-output.selected:hover {
  box-shadow: 0 0 0 0.5px #bdd343;
}

.react-flow__edge-path:hover {
  stroke-width: 4px;
  stroke: #7f7f85;
}

.react-flow__node-horizontal-label-input {
  border: none;
  padding: 5px;
  width: 80%;
  text-align: center;
}

.react-flow__node-full {
  background: #fff;
  border-color: #0abd22;
}

.react-flow__node-full.selected, .react-flow__node-full.full:hover {
  box-shadow: 0 0 0 0.5px #0abd22;
}

.react-flow__edge-path {
  stroke-width: 3px !important;
}

.react-flow__handle {
  height: 10px !important;
  width: 10px !important;
}

.react-flow__handle:hover {
  border: 5px solid rgb(27, 26, 26);
  height: 15px;
  width: 15px;
  transition: all .25s ease;
  -webkit-transition: all .25s ease;
}

.react-flow__handle-top {
  top: -6px !important;
}

.react-flow__handle-top:hover {
  top: -8px !important;
}

.react-flow__handle-bottom {
  bottom: -6px !important;
}

.react-flow__handle-bottom:hover {
  bottom: -8px !important;
}

.react-flow__handle-right {
  right: -6px !important;
}

.react-flow__handle-right:hover {
  right: -8px !important;
}

.react-flow__handle-left {
  left: -6px !important;
}

.react-flow__handle-left:hover {
  left: -8px !important;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 180px;
  }
}

.updatenode__controls {
  position: absolute;
  right: 10px;
  top: 100px;
  z-index: 4;
  font-size: 12px;
}

.updatenode__controls label {
  display: block;
}

.updatenode__bglabel {
  margin-top: 10px;
}

.updatenode__checkboxwrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.react-flow__edge-text {
  font-size: 16px;
}